/*  GRID OF TEN  */
.span_10_of_10 {
	width: 100%;
}

.span_9_of_10 {
  	width: 89.92%;
}

.span_8_of_10 {
  	width: 79.84%;
}

.span_7_of_10 {
  	width: 69.76%;
}

.span_6_of_10 {
  	width: 59.68%;
}

.span_5_of_10 {
  	width: 49.6%;
}

.span_4_of_10 {
  	width: 39.52%;
}

.span_3_of_10 {
  	width: 29.44%;
}

.span_2_of_10 {
  	width: 19.36%;
}

.span_1_of_10 {
  	width: 9.28%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	
    .span_1_of_10, .span_2_of_10, .span_3_of_10, .span_4_of_10, .span_5_of_10, .span_6_of_10, .span_7_of_10, .span_8_of_10, .span_9_of_10, .span_10_of_10 {
	width: 100%; 
	}
}