/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
  	width: 87.4%;
}

.span_6_of_8 {
  	width: 74.8%;
}

.span_5_of_8 {
  	width: 62.2%;
}

.span_4_of_8 {
  	width: 49.6%;
}

.span_3_of_8 {
  	width: 37%;
}

.span_2_of_8 {
  	width: 24.4%;
}

.span_1_of_8 {
  	width: 11.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 100%; }
}