/*  GRID OF NINE  */
.span_9_of_9 {
	width: 100%;
}

.span_8_of_9 {
  	width: 88.8%;
}

.span_7_of_9 {
  	width: 77.6%;
}

.span_6_of_9 {
  	width: 66.4%;
}

.span_5_of_9 {
  	width: 55.2%;
}

.span_4_of_9 {
  	width: 44%;
}

.span_3_of_9 {
  	width: 32.8%;
}

.span_2_of_9 {
  	width: 21.6%;
}

.span_1_of_9 {
  	width: 10.4%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_9, .span_2_of_9, .span_3_of_9, .span_4_of_9, .span_5_of_9, .span_6_of_9, .span_7_of_9, .span_8_of_9, .span_9_of_9 { width: 100%; }
}