/*  GRID OF ELEVEN  */
.span_11_of_11 {
	width: 100%;
}

.span_10_of_11 {
  	width: 90.83%;
}

.span_9_of_11 {
  	width: 81.67%;
}

.span_8_of_11 {
  	width: 72.50%;
}

.span_7_of_11 {
  	width: 63.34%;
}

.span_6_of_11 {
  	width: 54.18%;
}

.span_5_of_11 {
  	width: 45.01%;
}

.span_4_of_11 {
  	width: 35.85%;
}

.span_3_of_11 {
  	width: 26.69%;
}

.span_2_of_11 {
  	width: 17.52%;
}

.span_1_of_11 {
  	width: 8.363%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	
    .span_1_of_11, .span_2_of_11, .span_3_of_11, .span_4_of_11, .span_5_of_11, .span_6_of_11, .span_7_of_11, .span_8_of_11, .span_9_of_11, .span_10_of_11, .span_11_of_11 {
	width: 100%; 
	}
}